<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <h1>Welcome, {{ session['user'] }}</h1>
    <ul>
        {% for name, url in services.items() %}
            <li><a href="{{ url }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
